global
daemon
maxconn 256
log stdout format raw local0 info

defaults
mode tcp
timeout connect 5s
timeout client 30s
timeout server 30s
log global

frontend redis-cluster
bind *:${FRONTEND_PORT}
default_backend redis-nodes

backend redis-nodes
balance roundrobin
server redis1 ${BACKEND_HOST}:${BACKEND_PORT_1} check
server redis2 ${BACKEND_HOST}:${BACKEND_PORT_2} check
server redis3 ${BACKEND_HOST}:${BACKEND_PORT_3} check
